{% extends "global/Page.html" %} {% load otree static %}

{% block title %} Informed Consent {% endblock %}


{% block content %}

<style>
.bu {
	font-weight:bold; text-decoration: underline;
}
.bold {
	font-weight:bold;
}
#logo_table {
	width : 100%;
}
#logo_image {
	width : 30%;
	padding-right:2%;
}
#logo_text {
	width : 30%;
	padding-top:1%;
}
#logo_header {
	width : 30%;
	color: #1e78b4;
	font-size: x-large;
	font-weight: bold;
}
#logo {
	width:100%;
}
</style>

<table id='logo_table'>
	<tr>
		<td id='logo_image'><img id='logo' src='/static/uct_logo.jpg'></td>
		<td>
			<table>
				<tr>
					<td style='border-bottom: 1px solid black;padding-bottom:1%;'>
						<span id='logo_header'>Commerce Faculty</span>
						<br>
						<span style='font-size: large;'>University of Cape Town</span>
					</td>
				</tr>
				<tr>
					<td id='logo_text'>
						This research has been approved by the Commerce
						Faculty’s Ethics in Research (EiR) Committee. For more
						information on this study or your rights as a research
						participant, please contact Associate Professor Andre
						Hofmeyr (021 650 4362), or Prof.  Harold Kincaid (071
						823 7573).
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<br>


<p>
<span class='bold'>Title of research:</span> Beliefs over Population Health
and Outcomes 
</p>

<p>
<span class='bold'>Principal investigators:</span> Associate Professor Andre
Hofmeyr and Professor Harold Kincaid (University of Cape Town) 
</p>

<p>
<span class='bold'>Sponsor:</span> The University of Cape Town and the
Center for the Economic Analysis of Risk at Georgia State University 
</p>


<p>
<span class='bu'>Explanation and procedures</span><br>
You are invited to participate in a research study. The purpose of the study is
to better understand the risk perception and beliefs of individuals over
population health risks and health outcomes. You have been invited to
participate in this study, and were sent an invitation with a customised web
link to participate today. A total of approximately 250 people will take part
in this study.
</p>

<p>
Participation in this study should require no more than three hours of your
time today to complete. You may do this all in one sitting or at different
intervals over the 24-hour period communicated in your invitation email.
However you choose, the study must be done within this time frame to be
considered complete for payment.  
</p>

<p>
If you decide to take part, you will participate in 2 questionnaires and 4
incentivised tasks associated with this study. The questionnaires include
demographic questions and questions related to health risks and health
outcomes. For the incentivised tasks in today’s session, you will make a series
of choices. One incentivised task will ask you about your beliefs regarding
health risks and health outcomes. The other incentivised tasks involve choosing
between prospects with varying monetary prizes and chances of winning each
prize. Prizes are either dated today or at some future date. You will be given
instructions that describe in greater detail each task ahead of the decisions
you will make.  
</p>

<p>
This is a web-based study that you have been invited to participate in
today through an invitation that contained a customised web link. You will need
that web link, internet access, and a connected device with an internet browser
to participate. The customised web link will be active for 24 hours from the
study session start time documented in your invitation email. Within that
24-hour period, you can access the study and pick back up where you left off by
clicking on your customised web link. After that period the link will
deactivate, and you can no longer actively participate in the study. If you
complete the study, you may revisit the link to view a payment receipt sheet
for the incentivised task decisions selected for payment. That screen contains
no personally identifiable information.  
</p>

<p>
<span class='bu'>Future Research</span><br>
Researchers will remove
information that may identify you and may use your data for future research. If
we do this, we will not ask for any additional consent from you.  
</p>

<p>
<span class='bu'>Risks</span><br>
In this study, you will not have any more
risks than you would in a normal day of life.  
</p>



<p>
<span class='bu'>Benefits</span><br>
Participation in this study may not
benefit you personally. Overall, we expect that this research will benefit
society by advancing scientific knowledge in the areas of risk perception and
elicitation of individual’s beliefs over population health risks and health
outcomes.  
</p>

<p>
<span class='bu'>Alternatives</span><br>
The alternative to taking part in
this study is to not take part in the study.  
</p>

<p>
<span class='bu'>Compensation and Payment</span><br>
You will receive a
fixed participation payment for completing this study today. The amount of the
fixed payment was communicated to you in the invitation email along with your
customised web link that you used to access this study today. In addition to
the participation payment for completing the study, there are 4 incentivised
tasks. Each incentivised task has a potential to get you additional earnings
either today or in the future. The amount of additional earnings depends on
your responses, chance, and realised outcomes. To qualify for any additional
earnings, you must complete the study in its entirety.  
</p>

<p>
Payments from this study will be made at the appropriate date and sent to
you via Standard Bank Instant Money. After completing the study, any payments
owed and marked payable as of today will be verified by authorised research
staff and sent within 24 hours. Task payments marked payable on a future date
will be verified by authorised research staff and sent on that future date. If
a task payment is dependent on the outcome of a future event, and we only know
the true outcome after a specified date in the future, research staff will
verify the true outcome and make payment within 14 days of that date passing.
Upon completion of the study you may revisit the custom web link sent in your
invitation to view a payment receipt sheet for the incentivised task decisions
selected for payment and the dates associated with them.    
</p>

<p>
<span class='bu'>Voluntary Participation and Withdrawal</span><br>

Participation in this study is voluntary. You do not have to be in this study.
If you decide to be in the study and change your mind, you have the right to
stop participating at any time. To qualify for the fixed participation payment
and any additional earnings, you must complete the study in its entirety.  
</p>

<p>
<span class='bu'>Confidentiality</span><br>
We will use a code assigned to
you rather than your name on study records. We will keep a separate list that
links your name to this code. We will keep this list secure and stored in a
separate location than the response data. Only the researchers will have access
to this list. This list will be destroyed after experiment sessions are
completed and subject payments have been made.  
</p>

<p>
When we present or publish the results of this study, we will not use your
name or other information that may identify you. Your name and other facts that
might point to you will not appear when we present this study or publish its
results. The findings will be summarised and reported in group form. You will
not be identified personally.  
</p>

<p>
<span class='bu'>Contact Information</span><br>
If you have any questions about any aspect of your research participation,
please contact Associate Professor Andre Hofmeyr or Professor Harold Kincaid at
<a href="mailto:Andre.Hofmeyr@uct.ac.za">Andre.Hofmeyr@uct.ac.za</a> or
<a href='mailto:Harold.Kincaid@uct.ac.za'>Harold.Kincaid@uct.ac.za</a>,
respectively.  
</p>

<p>
<span class='bu'>Consent</span><br>
You may keep a copy of this consent form for your records. If you are willing
to take part in this research project, please click the "I Consent to
Participate in this Study" button below. If you prefer not to take part, just
close this browser window. 
</p>
<br>
<br>
<center>
<div class=myAlert style="color: #721c24; background-color: #f8d7da; border-color: #f5c6cb;
padding-top: 1rem; padding-bottom: 0rem; padding-left: 2rem; padding-right: 2rem; margin-bottom: 2rem;
border: 1px solid transparent;">{{ form.empty.errors }}</div>
<script>$('div.myAlert:empty').hide();</script>
<button class="btn btn-primary btn-large" type="">I Consent to Participate in this Study</button>
</center>

{% endblock %}
