    <div style="max-height:60vh; overflow: auto;">
        <table class="table table-sm table-bordered table-striped">
            <thead class="thead-dark">
            <tr >
                <th style="text-align: center; font-size:0.8rem; vertical-align:middle;"> <p>Order</p></th>
                <th style="text-align: center; font-size:0.8rem; vertical-align:middle;"> <p>Status</p></th>
            </tr>
            </thead>
            <tbody>
            {% for app in app_sequence %}
                <tr>
                    <td style="text-align: center; font-size: 0.9rem; vertical-align: middle; "> {{ app }}  </td>
                    <td style="text-align: center; font-size: 0.9rem; vertical-align: middle; "> {% if forloop.counter0 < apps_completed %} Complete {% else %} Incomplete {% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>